@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 212, 225, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
    circle,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  background-attachment: fixed;
} */
